<div>Grasz juz : {{timeOnPage}} sekund </div>
<div>Punkty {{count}}</div>

<div>Ujebales juz : {{total}}</div>
<div>Na sekunde : {{countPerSec}}</div>

<div><button (click)="saveToCookie()">Zapisz wynik</button></div>
<div><button (click)="reset()">Od nowa</button></div>

	<div id="image" *ngFor="let i of createRange(); let index = index" (click)="onClick(index)">
			<!--<div>Ten blok kosztuje : {{cost[index]}}</div>!-->
			<div>
				<img [src]="fullImagePath"/>
				<p>{{cost[index]}}</p>
			</div>
	</div>